<div class="container mx-auto mt-12">
  <div class="max-w-4xl mx-auto">
    <div class="flex justify-between items-center mb-4 lg:mb-6">
      <%= link_to "Home", root_path, class: "text-sm lg:text-base underline underline-offset-4 px-4" %>

      <h1 class="flex-grow text-center text-xl sm:text-2xl md:text-3xl lg:text-4xl mx-4 md:mx-6 lg:mx-8">
        <%= "#{@league.name} #{@year}" %>
      </h1>

      <%= link_to "Home", root_path, class: "px-4 invisible" %>
    </div>

    <div class="bg-purple-popout rounded-xl p-4 md:p-6 flex-grow">
      <div class="flex justify-between">
        <div>
          <h2 class="text-2xl underline">Starting Elo</h2>
          <p class="text-green-accent text-sm"><%= @stats[:starting_elos][:date] %></p>
          <ul>
            <% @stats[:starting_elos][:teams].each do |team| %>
              <li
                class="underline text-xl decoration-2"
                style="text-decoration-color: <%= team[:color] %>"
              ><%= "#{team[:name]}: #{team[:elo]}" %></li>
            <% end %>
          </ul>
        </div>
        <div>
          <h2 class="text-2xl underline">Final Elo</h2>
          <p class="text-green-accent text-sm"><%= @stats[:ending_elos][:date] %></p>
          <ul>
            <% @stats[:ending_elos][:teams].each do |team| %>
              <li
                class="underline text-xl decoration-2"
                style="text-decoration-color: <%= team[:color] %>"
              ><%= "#{team[:name]}: #{team[:elo]}" %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

  <div class="flex flex-wrap -mx-2 my-8">
      <%= render partial: "seasons/stat_box", locals: {
        title: "Most dominant",
        team_name: @stats[:most_dominant][:name],
        team_color: @stats[:most_dominant][:color],
        sub_stats: ["Average Elo: #{@stats[:most_dominant][:average_elo]}"]
      } %>

      <%= render partial: "seasons/stat_box", locals: {
        title: "Highest high",
        team_name: @stats[:highest_high][:name],
        team_color: @stats[:highest_high][:color],
        sub_stats: ["Highest Elo: #{@stats[:highest_high][:elo]}", "#{@stats[:highest_high][:date]}"]
      } %>

      <%= render partial: "seasons/stat_box", locals: {
        title: "Most improved",
        team_name: @stats[:most_improved][:name],
        team_color: @stats[:most_improved][:color],
        sub_stats: ["Gained #{@stats[:most_improved][:elo_change]} elo"]
      } %>

      <%= render partial: "seasons/stat_box", locals: {
        title: "Weakest",
        team_name: @stats[:weakest][:name],
        team_color: @stats[:weakest][:color],
        sub_stats: ["Average Elo: #{@stats[:weakest][:average_elo]}"]
      } %>

      <%= render partial: "seasons/stat_box", locals: {
        title: "Lowest low",
        team_name: @stats[:lowest_low][:name],
        team_color: @stats[:lowest_low][:color],
        sub_stats: ["Lowest Elo: #{@stats[:lowest_low][:elo]}", "#{@stats[:lowest_low][:date]}"]
      } %>

      <%= render partial: "seasons/stat_box", locals: {
        title: "Steepest decline",
        team_name: @stats[:steepest_decline][:name],
        team_color: @stats[:steepest_decline][:color],
        sub_stats: ["Lost #{@stats[:steepest_decline][:elo_change]} Elo"]
      } %>

      <%= render partial: "seasons/stat_box", locals: {
        title: "Biggest upset (game)",
        team_name: @stats[:biggest_upset][:name],
        team_color: @stats[:biggest_upset][:color],
        sub_stats: ["Beat #{@stats[:biggest_upset][:losing_team]} on #{@stats[:biggest_upset][:date]}"]
      } %>

      <%= render partial: "seasons/stat_box", locals: {
        title: "Most predictable",
        team_name: @stats[:most_predictable][:name],
        team_color: @stats[:most_predictable][:color],
        sub_stats: []
      } %>

      <%= render partial: "seasons/stat_box", locals: {
        title: "Least predictable",
        team_name: @stats[:least_predictable][:name],
        team_color: @stats[:least_predictable][:color],
        sub_stats: []
      } %>
    </div>
  </div>
</div>