<!DOCTYPE html>
<html>
  <head>
    <title>LoLProElo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= Sentry.get_trace_propagation_meta.html_safe %>

    <%= favicon_link_tag 'favicon/apple-touch-icon.png', rel: 'apple-touch-icon', sizes: '180x180', type: 'image/png' %>
    <%= favicon_link_tag 'favicon/favicon-32x32.png', rel: 'icon', sizes: '32x32', type: 'image/png' %>
    <%= favicon_link_tag 'favicon/favicon-16x16.png', rel: 'icon', sizes: '16x16', type: 'image/png' %>
    <link rel="manifest" href="<%= asset_path 'favicon/site.webmanifest' %>">

   <!-- Google Analytics -->
    <% if Rails.env.production? %>
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-BY88XH8Q5Z"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-BY88XH8Q5Z');
      </script>
    <% end %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Primary Meta Tags -->
    <title>LoLProElo - Elo rankings for professional League of Legends teams</title>
    <meta name="title" content="LoLProElo - Elo rankings for professional League of Legends teams" />
    <meta name="description" content="Explore and compare the current and historic strength of professional League of Legends teams using an Elo rating system. Track team performance, analyze trends, and dive deep into LoL esports history." />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:title" content="LoLProElo - Elo rankings for professional League of Legends teams" />
    <meta property="og:description" content="Explore and compare the current and historic strength of professional League of Legends teams using an Elo rating system. Track team performance, analyze trends, and dive deep into LoL esports history." />
    <meta property="og:image" content="<%= asset_url('meta/meta-image.png') %>" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="<%= request.original_url %>" />
    <meta property="twitter:title" content="LoLProElo - Elo rankings for professional League of Legends teams" />
    <meta property="twitter:description" content="Explore and compare the current and historic strength of professional League of Legends teams using an Elo rating system. Track team performance, analyze trends, and dive deep into LoL esports history." />
    <meta property="twitter:image" content="<%= asset_url('meta/meta-image.png') %>" />
    <!-- Meta Tags Generated with https://metatags.io -->

  </head>

  <body 
    data-route="<%= controller.controller_name %>-<%= controller.action_name %>"
    class="bg-purple-bg text-orange-text"
  >
    <%= yield %>
  </body>
</html>
